{% extends 'base.nav.left.html.twig' %}

{#      the view title      #}
{% block title controller_name %}

{#      The view style sheet    #}
{% block stylesheets %}

{% endblock %}


{#      the title h1 of the view   #}
{% block h1 "Hello "~ controller_name %}


{#      Block body of the view   #}
{% block navigationLeft %}
    <nav class="sticky-top navbar navbar-dark">
        {% if categories| length > 0 %}
            <div class="dropdown">
                <a class="nav-link dropdown-toggle bg-transparent" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                    Category
                </a>
                <div class="dropdown-menu bg-transparent" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href={{ path('articles') }}>All categories</a>
                    {% for category in categories %}
                        <a class="dropdown-item"
                           href={{ path('articles_by_category' ,{'id' : category.id}) }}>{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div>
            <form action="{{ path('category_new') }}" method="post">
                <input type="text"  name="name" required/>
                <button type="submit" class="btn btn-success">add Category</button>
            </form>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <h2>{% if category.name %}{{ category.name }} {% else %}All categories{% endif %}</h2>
    <hr/>
    {% for article in articles %}
        <p>
            {{ article.id }} : {{ article.name }} : {{ article.price }}€
        </p>
        <p>
            {{ article.createdAt |date("m/d/Y") }} at {{ article.createdAt |date("H:m:s") }}
        </p>
        <p>
            {{ article.description |nl2br}}
        </p>
        <hr />
    {% endfor %}

{% endblock %}
{#      End block body of the view   #}

{#      The view JavaScript    #}
{% block javascripts %}{% endblock %}
